body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.form-container {
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    color: #cc0000;
    font-size: 1.5em;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: #333333;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
    display: block;
    margin-bottom: 10px;
}

/* Change calendar icon color */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(32%) sepia(98%) saturate(3819%) hue-rotate(340deg) brightness(94%) contrast(106%);
}

textarea {
    resize: vertical;
    height: 100px;
}

#rating {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    flex-direction: row-reverse;
}

#rating input {
    display: none;
}

#rating label {
    font-size: 24px;
    cursor: pointer;
    color: #cccccc;
}

#rating input:checked~label,
#rating label:hover,
#rating label:hover~label {
    color: #cc0000;
}

fieldset {
    border: none;
    padding: 0;
    margin-top: 10px;
}

legend {
    margin-bottom: 10px;
    color: #333333;
    font-weight: bold;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #cc0000;
}

input[type="submit"] {
    width: 100%;
    background-color: #cc0000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #990000;
}

footer {
    text-align: center;
    font-size: 12px;
    color: white;
    background-color: #cc0000;
    padding: 10px;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 600px) {
    .form-container {
        padding: 15px;
    }

    h1 {
        font-size: 1.2em;
    }

    input[type="text"],
    input[type="date"],
    select,
    textarea {
        padding: 8px;
    }

    #rating label {
        font-size: 20px;
    }

    input[type="submit"] {
        padding: 8px;
    }
}